.button-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: .31rem;
  margin-bottom: .31rem;
}

.play-pause {
  background-image: url('../assets/chordscroller128x128.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 3.75rem;
  height: 3.75rem;
}
